.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-logo {
  height: 11vmin;
  pointer-events: none;
}
.VAT-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.info-item {
  width: 45vw;
  height: 2.5vh;
  padding: 2em;
  border: 2px solid rgb(255, 0, 17);
  align-self: center;
  background-color: wheat;
  border-radius: 2em;
}
